#esb-templates {
    position: relative; width: 100%; height: 100%;  padding-top: 50px;
}
#esb-templates > div {
float: left; width: 230px;height: 250px;
}
.id-fix-table input {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 0;
    height: 40px;
}
.ie-tab {
    padding-left: 15px;
}